.breadcrumb{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.report-header {
   display: flex ;
   justify-content: space-between;
}
.report-content{
    background-color:#EBEEF2;
    border-radius: 8px;
}
.report-content-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
}
.report-content-header, .report-title-section {
    height: 60px;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
}

@media (max-width: 768px) {
  .report-header {
    display: none;
  }
  .report-content-header > img,
  .report-content-header > span.report-content-title {
    display: none;
  }
}