.breadcrumb{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.report-header {
   display: flex ;
   justify-content: space-between;
}
.report-content{
    background-color:#EBEEF2;
    border-radius: 8px;
}
.report-content-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
}
.report-content-header, .report-title-section {
    height: 60px;
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
}

@media (max-width: 768px) {
  .report-header {
    display: none;
  }
  .report-content-header > img,
  .report-content-header > span.report-content-title {
    display: none;
  }
  .institution-container{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 8px;
  }
  .institution-details{
    width: 100% !important;
  }

  /* Mobile legend - no padding */
  .pie-legend {
    padding-left: 50px !important;
  }
  .image-container{
    flex-direction: column !important;
    gap: 10px !important;
  }
  .image-1, .image-2,.image-3{
    width: 100% !important;
    height:70px !important;
    object-fit:contain !important;
  }
}

/* Desktop - add padding to legend for > 768px */
@media (min-width: 769px) {
  .pie-legend {
    padding-left: 120px !important;
  }
}